@font-face {
  font-family: "Hedvig Letters Serif";
  src: local("Hedvig Letters Serif"),
    url(../fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf)
      format("truetype");
}

@font-face {
  font-family: "Hedvig Letters Sans";
  src: local("Hedvig Letters Sans"),
    url(../fonts/HedvigLettersSans-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(0.2, 0.2, 0.2);
}

.cover {
  overflow: hidden;
  width: 1500px;
  height: 1500px;
  position: relative;
  margin-bottom: 10px;
}

.artwork {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.copy {
  font-size: 44px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #101010;
}

.artist {
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 600;
}
.title {
  font-family: "Hedvig Letters Sans", serif;
  font-style: italic;
  font-size: 60%;
}

.mixer-logo svg {
  width: 80px;
  height: 80px;
  position: absolute;
}

// CUSTOM OVERRIDES FOR SINKING GALLEY
// These should be hard-coded into component instead - single source.
.galley-sinking .artwork {
  background-image: url("../images/SinkingGalleySneer.jpeg");
}
.galley-sinking .copy {
  position: absolute;
  line-height: 85%;
  width: 250px;
  text-align: right;
  color: #190000;
  background: #949496;
  bottom: 30px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-top: 4px;
}
.galley-sinking .title {
  position: relative;
  left: -4px;
}

/*
// CUSTOM OVERRIDES FOR MIVOVA
// These should be hard-coded into component instead - single source.
.mivova .artwork {
  background-image: url("../images/mivovawave.jpeg");
}
.mivova .copy {
  top: 285px;
  text-align: center;
  width: 100%;
  color: #101010;
}
.mivova .title {
  padding-top: 10px;
  text-transform: lowercase;
}
*/