@font-face {
  font-family: "Hedvig Letters Serif";
  src: local("Hedvig Letters Serif"),
    url(../fonts/HedvigLettersSerif-Regular-VariableFont_opsz.ttf)
      format("truetype");
}

@font-face {
  font-family: "Hedvig Letters Sans";
  src: local("Hedvig Letters Sans"),
    url(../fonts/HedvigLettersSans-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(0.2, 0.2, 0.2);
}

.cover {
  overflow: hidden;
  width: 3000px;
  height: 3000px;
  position: relative;
  margin-bottom: 10px;
  background:grey;
}

.artwork {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}


.artist {
  font-family: "Hedvig Letters Serif", serif;
  font-weight: 600;
}
.title {
  font-family: "Hedvig Letters Sans", serif;
  font-style: italic;
  // font-size: 60%;
}

// CUSTOM OVERRIDES FOR SINKING GALLEY
.sinking-galley .mixer-logo {
  opacity: 0.87;
}
